html{
    height: 100vh;
}
*{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
 padding: 0;
 color: white;
 text-decoration: none;
 
}
#cover{
    background: url("meaty.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center center;  
}

h1{
    color: aliceblue;
    width: fit-content;
    margin: 4rem auto;
    font-size: 70px;
    margin-bottom: 4rem;
    
}
div>.h1 {
    margin-bottom: 400px;
}
nav{
    text-align: center;
    background-color: rgba(105, 105, 105, 0.212);
    width: 70%;
    margin: 0 auto;
    
    
    
}
.nav ul{
color: white;
padding: 1rem;
display: flex;
justify-content: center;
align-items:center;
list-style: none;

}
.nav li{
margin-right: 50px;
font-size: small;
}
a:hover,a:active{
box-shadow: 0 1px 5px 1px#ccc;
}


.catchy p{

width: 30rem;
margin: auto;

}
.contact{
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
margin: 5rem;
font-weight:bold;
}
#logo img{
width: 100px;
margin: 10px auto;
border-radius: 15px 40px 15px 40px;
opacity: 60%;
display: flex;


}
address>a:hover, address>a:active{
color: #ccc;
background-color:unset;
width: 4rem;
cursor: grab;
}
